.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #344151;
  flex-direction: column;
  gap: 5rem;  
}

.heading{
  color: #0398d4;
  font-size: 2rem;
}

.buttons{
  display: flex;
  background-color: #fff;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 10px;
  font-size: 25px;
  color: #344151;
}

.resetBtn{
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #0398d4;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn{
  padding: 0.4rem 0.8rem;
  border: none;
  background-color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: lightblue;
}